<div id="wrapper">
    <div>
        <div id="locations">
            <p><i class="fa fa-map-marker"></i> <span>Define your current location ...</span></p>
            <p><i class="fa fa-location-arrow"></i> <span>Define your destination ...</span></p>
        </div>
        <div id="chat">
            <ul>
                <li class="no-routes">Click on the reset button to define your current location and your destination</li>
            </ul>
        </div>
        <div id="controls">
            <a href="#" class="fa fa-map btn green"></a>
            <a href="#" class="fa fa-repeat btn red"></a>
        </div>
    </div>
    <div id="map-container" class="invisible"><div id="map"></div></div>
</div>
