@desktop-xlarge:    ~"only screen and (min-width: 2000px)";
@desktop-large:     ~"only screen and (min-width: 1600px) and (max-width: 1999px)";
@desktop-medium:    ~"only screen and (min-width: 1200px) and (max-width: 1599px)";
@desktop-small:     ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:            ~"only screen and (min-width: 720px) and (max-width: 959px)";
@mobile:            ~"only screen and (min-width: 0px) and (max-width: 719px)";
@mobile-portrait:   ~"only screen and (min-width: 0px) and (max-width: 399px)";
@mobile-landscape:  ~"only screen and (min-width: 399px) and (max-width: 719px)";
@small-screen:      ~"only screen and (min-height: 0px) and (max-height: 399px)";

@default-color: #444444;
@dark-gray-color: #666666;
@light-gray-color: #b2b2b2;
@blue-color: #0051a2;
@red-color: #ca0000;
@green-color : #096e18;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    overflow: hidden;
}

html {

    body {
        font-family: 'Montserrat', sans-serif;

        #wrapper {
            position: relative;
            height: 100%;

            >div {

                &:first-child {
                    width: 50%;
                    margin: auto;

                    #locations {

                        >p {
                            margin: 0;
                            padding: 10px 20px;

                            >i {
                                font-size: 30px;
                                width: 50px;
                                text-align: center;
                                color: @blue-color;
                                vertical-align: middle;
                            }

                            >span {
                                display: inline-block;
                                vertical-align: middle;
                                font-family: 'Titillium Web', sans-serif;
                                width: 90%;
                            }
                        }
                    }

                    #chat {
                        overflow: auto;
                        overflow-x: hidden;

                        ul {
                            list-style-type: none;
                            padding: 0;

                            li {
                                padding: 10px 10px 10px 0;

                                &.chat-item {

                                    >span {
                                        display: inline-block;
                                        vertical-align: middle;

                                        &.maneuver {
                                            background-image: url('/images/maneuvers.png');
                                            background-repeat: no-repeat;
                                            background-position: -100px, 0;
                                            height: 33px;
                                            width: 50px;

                                            &.turn-left {
                                                background-position: 0 -830px;
                                            }

                                            &.turn-right {
                                                background-position: 0 -966px;
                                            }

                                            &.turn-sharp-left {
                                                background-position: 0 0;
                                            }

                                            &.turn-sharp-right {
                                                background-position: 0 -1166px;
                                            }

                                            &.uturn-left {
                                                background-position: 0 -612px;
                                            }

                                            &.uturn-right {
                                                background-position: 0 -72px;
                                            }

                                            &.turn-slight-left {
                                                background-position: 0 -756px;
                                            }

                                            &.turn-slight-right {
                                                background-position: 0 -102px;
                                            }

                                            &.roundabout-left {
                                                background-position: 0 -392px;
                                            }

                                            &.roundabout-right {
                                                background-position: 0 -462px;
                                            }

                                            &.merge {
                                                background-position: 0 -285px;
                                            }

                                            &.keep-left {
                                                background-position: -100px 0;

                                                &:before {
                                                    font-family: FontAwesome;
                                                    content: "\f177";
                                                    font-size: 30px;
                                                    font-weight: bold;
                                                    color: #303030;
                                                }
                                            }

                                            &.keep-right {
                                                background-position: -100px 0;

                                                &:before {
                                                    font-family: FontAwesome;
                                                    content: "\f178";
                                                    font-size: 30px;
                                                    font-weight: bold;
                                                    color: #303030;
                                                }
                                            }

                                            &.ramp-left {
                                                background-position: 0 -1195px;
                                            }

                                            &.ramp-right {
                                                background-position: 0 -859px;
                                            }

                                            &.straight {
                                                background-position: 0 -1067px;
                                            }

                                            &.fork-left {
                                                background-position: 0 -1099px;
                                            }

                                            &.fork-right {
                                                background-position: 0 -999px;
                                            }

                                            &.compass {
                                                background-position: -100px 0;

                                                &:before {
                                                    font-family: FontAwesome;
                                                    content: "\f14e";
                                                    font-size: 30px;
                                                    font-weight: bold;
                                                    color: #303030;
                                                    margin-left: 3px;
                                                }
                                            }
                                        }

                                        &:last-child {
                                            width: 90%;
                                            word-wrap: break-word;
                                        }
                                    }
                                }

                                &.no-routes {
                                    margin-top: 50px;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    #controls {
                        position: fixed;
                        text-align: center;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        z-index: 10;

                        >a {
                            width: 15%;
                            padding: 20px 0;
                            font-size: 30px;
                        }
                    }
                }

                &#map-container {
                    position: fixed;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    top: 0;
                    left: 0;
                    z-index: 5;

                    #map {
                        margin: auto;
                        height: 90%;
                        width: 90%;
                    }
                }
            }
        }

        #modal {
            width: 30%;
            padding: 0;

            >div {
                padding: 15px 20px;

                #prompt-geolocation {

                    i {

                        &.fa {
                            font-family: 'FontAwesome';
                            color: @blue-color;
                        }
                    }

                    >div {
                        text-align: center;

                        &:first-child {

                            h3 {
                                font-family: 'Titillium Web', sans-serif;
                                color: @dark-gray-color;
                            }
                        }

                        &:last-child {

                            a {

                            }
                        }
                    }
                }

                #prompt-location, #prompt-destination {

                    i {

                        &.fa {
                            font-family: 'FontAwesome';
                            color: @blue-color;
                        }
                    }

                    >form {

                        >div {
                            text-align: center;

                            &:first-child {

                                >p {

                                    &.form-control {
                                        padding: 5px;
                                        border: 1px solid @light-gray-color;
                                        position: relative;
                                        text-align: left;

                                        >input {
                                            border: 0;
                                            width: 95%;
                                            margin: 0;
                                        }
                                    }
                                }
                            }

                            &:last-child {

                                >button {

                                    >i {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn {
            display: inline-block;
            vertical-align: middle;
            padding: 10px 25px;
            text-align: center;
            margin: 0 10px;
            text-decoration: none;
            border-radius: 3px;
            border: 0;
            cursor: pointer;

            &.blue {
                color: white;
                background: @blue-color;
            }

            &.red {
                color: white;
                background: @red-color;
            }

            &.green {
                color: white;
                background: @green-color;
            }
        }

        .invisible {
            visibility: hidden !important;
            z-index: -1 !important;
        }
    }
}

@media @desktop-xlarge {

    html {

        body {

            #wrapper {

                >div {

                    &:first-child {
                        width: 40%;

                        #controls {

                            >a {
                                width: 10%;
                            }
                        }
                    }
                }
            }

            #modal {
                width: 25%;
            }
        }
    }
}

@media @desktop-small {

    html {

        body {

            #wrapper {

                >div {

                    &:first-child {
                        width: 60%;

                        #locations {

                            >p {

                                >span {
                                    width: 87%;
                                }
                            }
                        }

                        #controls {

                            >a {
                                width: 18%;
                                padding: 20px 0;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }

            #modal {
                width: 40%;
            }
        }
    }
}

@media @tablet {

    html {

        body {

            #wrapper {

                >div {

                    &:first-child {
                        width: 70%;

                        #locations {

                            >p {

                                >span {
                                    width: 80%;
                                }
                            }
                        }

                        #chat {

                            ul {

                                li {

                                    &.chat-item {

                                        >span {

                                            &:last-child {
                                                width: 85%;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        #controls {

                            >a {
                                width: 20%;
                                padding: 20px 0;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }

            #modal {
                width: 50%;
            }
        }
    }
}

@media @mobile-landscape {

    html {

        body {

            #wrapper {

                >div {

                    &:first-child {
                        width: 80%;

                        #locations {

                            >p {

                                >span {
                                    width: 80%;
                                }
                            }
                        }

                        #chat {

                            ul {

                                li {

                                    &.chat-item {

                                        >span {

                                            &:last-child {
                                                width: 80%;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        #controls {

                            >a {
                                width: 30%;
                                padding: 15px 0;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            #modal {
                width: 80%;
            }
        }
    }
}

@media @mobile-portrait {

    html {

        body {

            #wrapper {

                >div {

                    &:first-child {
                        width: 95%;

                        #locations {

                            >p {

                                >span {
                                    width: 75%;
                                }
                            }
                        }

                        #chat {

                            ul {

                                li {

                                    &.chat-item {

                                        >span {

                                            &:last-child {
                                                width: 75%;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        #controls {

                            >a {
                                width: 30%;
                                padding: 15px 0;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            #modal {
                width: 95%;
            }
        }
    }
}

@media @small-screen {

    html {

        body {

            #modal {
                margin-bottom: 60px;
            }
        }
    }
}