<div id="prompt-location">
    <form method="GET">
        <div>
            <h2><i class="fa fa-map-marker"></i> What is your current location ?</h2>
            <p class="form-control"><input type="text" placeholder="Your location ..." /></p>
        </div>
        <div>
            <button href="#" class="btn blue confirm">Send</button>
        </div>
    </form>
</div>