<div id="prompt-geolocation">
    <div>
        <h2><i class="fa fa-map-marker"></i> Your current location is:</h2>
        <h3></h3>
        <h4>Is this correct ?</h4>
    </div>
    <div>
        <a href="#" class="btn red confirm">Yes</a><a href="#" class="btn blue deny">No</a>
    </div>
</div>