<div id="prompt-destination">
    <form method="GET">
        <div>
            <h2><i class="fa fa-location-arrow"></i> Where would you like to drive to ?</h2>
            <p class="form-control"><input type="text" placeholder="Your destination ..." /></p>
        </div>
        <div>
            <button href="#" class="btn blue confirm">Go</button>
        </div>
    </form>
</div>